<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='用户列表'"></head>
<body>
    <div layout:fragment="content">

        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        </head>

        <body class="container">
            <br/>
            <h1>用户列表</h1>
            <br/><br/>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>密码</th>
                            <th>年龄</th>
                            <th>注册时间</th>
                            <th>操作</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <th scope="row" th:text="${user.id}">1</th>
                            <td th:text="${user.userName}">army</td>
                            <td th:text="${user.email}">email</td>
                            <td th:text="${user.password}">123456</td>
                            <td th:text="${user.age}">36</td>
                            <td th:text="${#dates.format(user.regTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
                            <td><a th:href="@{/toEdit(id=${user.id})}">编辑</a></td>
                            <td><a th:href="@{/delete(id=${user.id})}" onclick="return confirm('确认是否删除此用户？')">删除</a></td>
                        </tr>
                    </tbody>
                </table>
                <div th:include="page :: pager" th:remove="tag"></div>
            </div>
            <div class="form-group">
                <div class="col-sm2 control-label">
                    <a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">添加</a>
                </div>
            </div>

        </body>

    </div>
</body>
</html>