<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="container">
    <br/>
    <h1>修改用户</h1>
    <br/><br/>
    <div style="width: 80%;">
        <form class="form-horizontal" th:action="@{/edit}" method="post">
            <input type="hidden" name="id" th:value="*{user.getId()}"/>
            <div class="form-group">
                <label for="userName" class="col-sm-2 control-label">userName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userName" id="userName" th:value="*{user.getUserName()}" placeholder="userName" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email" id="email" th:value="*{user.getEmail()}" placeholder="email" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" th:value="*{user.getPassword()}" placeholder="password" />
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">age</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="age" id="age" th:value="*{user.getAge()}" placeholder="age" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div th:if="${errorMsg != null}" class="alert alert-danger" role="alert" th:text="${errorMsg}"></div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Submit" class="btn btn-info" />
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/list}" class="btn btn-info">Back</a>
                </div>
            </div>

        </form>
    </div>

</body>
</html>