<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>邮件模板</title>
</head>
<body>
您好，感谢您的注册，请您尽快对注册邮件进行验证，请点击下方链接完成，感谢您的支持！<br/>
<a href="#" th:href="@{http://localhost:8080/verified/{id}(id=${id}) }">激活账号</a>
</body>
</html>