<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="container">
<br/>
<h1>登录</h1>
<br/><br/>
<div class="with:60%">
    <div style="margin: 10px 90px;">没有账户？先去<a  th:href="@{/toRegister}">注册</a></div>

    <form class="form-horizontal"   th:action="@{/login}"  method="post" >
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="userName"  id="userName" placeholder="enter userName or email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" >Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password" id="password" placeholder="enter password"/>
            </div>
        </div>

        <div class="form-group">
            <label   class="col-sm-2 control-label"></label>
            <div class="col-sm-6">
                <div th:if="${errorMsg != null}"  class="alert alert-danger" role="alert" th:text="${errorMsg}">

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>
</body>
</html>