<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="container">
<br/>
<h1>注册</h1>
<br/><br/>
<div class="with:60%">
    <div style="margin: 10px 90px;">已有账户？直接<a  th:href="@{/toLogin}">登录</a></div>

    <form class="form-horizontal"   th:action="@{/register}"  method="post" >
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="userName"  id="userName"  placeholder="enter userName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="email"  id="email" placeholder="enter email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" >Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password" id="password" placeholder="enter password"/>
            </div>
        </div>

        <div class="form-group">
            <label   class="col-sm-2 control-label"></label>
            <div class="col-sm-6">
                <div th:if="${errorMsg != null}"  class="alert alert-danger" role="alert" th:text="${errorMsg}">

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />

            </div>
        </div>
    </form>
</div>
</body>
</html>